[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

html, body {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: calc(12px + 0.5vw);
	/*background-color: #472C1B;*/
	/*background: linear-gradient(#333, #555);*/
}

a {
	text-decoration: none;
	color: #E65100;	
}

h1, h2, h3, h4 {
	font-weight: 500;
}

input, textarea {
	margin-top: 8px;
	border: none;
	border-bottom: 1px solid #DDD;
	font-size: calc(12px + 0.5vw);
	width: 100%;
	resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

button {
	background-color: #FFF;
	border: none;
	/*border: 1px solid #DDD;*/
	font-size: calc(12px + 0.5vw);
	padding: 8px;
}

button:not(:disabled) {
	cursor: pointer;
	color: #E65100;
}

.tiles {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*z-index: -1;*/
}

.tiles .row {
	display: flex;
	flex: 0 0 auto;
	justify-content: space-around;
}

.tiles .row .tile {
	/*flex: 1;*/
	flex: 0 0 auto;
	/*display: block;*/
	/*min-height: 50px;
	min-width: 50px;*/
	width: 20vw;
	height: 20vw;
	transform: translateZ(0);
	/* initial color */
	/*background-color: #E28413;
	margin: 1px;*/
	opacity: 0;
}

.center-container {
	position: fixed;
	color: #FFF;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	color: #333;
}

.flex {
	display: flex;
}
.flex.column {
	flex-direction: column;
}

.left-margin {
	margin-left: 36px;
}
@media (max-width: 767px) {
	.flex.column-sm {
		flex-direction: column;
	}
	.flex.center-sm {
		align-items: center;
	}
	.left-margin {
		margin-left: 0;
	}
}

.flex.space-around {
	justify-content: space-around;
}

.flex.space-between {
	justify-content: space-between;
}

.flex.center {
	align-items: center;
}

.flex.wrap {
	flex-wrap: wrap;
}

.title {
	/*font-size: calc(32px + 6vw);*/
	/*font-size: 6vw;*/
	font-size: 8vw;
	font-weight: 300;
}

.reflect-1 {
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}

.reflect-2 {
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.25)));
}

#mainMenu {
	position: absolute;
	/*background-color: #C200FB;*/
	/*border-top: 4px solid #BF360C;*/
	background: linear-gradient(270deg, #E64A19, #EF6C00);
	background-size: 200% 200%;

	-webkit-animation: mainMenuBgAnim 15s ease infinite;
	-moz-animation: mainMenuBgAnim 15s ease infinite;
	animation: mainMenuBgAnim 15s ease infinite;

	font-size: calc(12px + 1.5vw);
	font-weight: 300;
	/*height: calc(80px + 15%);*/
	height: 25%;
	width: 100%;
	/*transition: box-shadow .5s ease-in-out;*/
	transition: height 250ms;
	z-index: 1;
}

@-webkit-keyframes mainMenuBgAnim {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@-moz-keyframes mainMenuBgAnim {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@keyframes mainMenuBgAnim { 
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

#mainMenu.active {
	box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.5);
}

#mainMenu a {
	color: #FFF;
	opacity: .7;
	-webkit-transition: all 350ms;
	-moz-transition: all 350ms;
	-o-transition: all 350ms;
	transition: all 350ms;
}

#mainMenu a.active {
	/*text-shadow: -1px -1px 1px #EEE, 1px -1px 1px #EEE, -1px 1px 1px #DDD, 1px 1px 1px #DDD;*/
	/*border-bottom: 2px solid #FFF;*/
	/*padding-bottom: 6px;*/
	/*font-weight: 400;*/ /*font-weight transition not yet supported */
	opacity: 1;
}

#content {
	position: absolute;
	background-color: #FFF;
	box-sizing: border-box;
	color: #333;
	padding: 36px;
	left: 0;
	/*top: calc(80px + 15%);
	height: calc(85% - 80px);*/
	top: 25%;
	height: 75%;
	width: 100%;
	/*text-align: center;*/
	text-align: justify;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: top 250ms;
}

@media (max-width: 767px) {
	#content {
		padding: 16px;
	}
}

.email:before {
	content: "lavar";
}

.email:after {
	content: "@inbox.ru";
}

.project-box {
	margin-bottom: 16px;
	/*max-width: 75%;*/
	padding: 32px;
	/*background-color: rgba(0, 0, 0, 0.1);*/
	background-color: #fff;
	/*border-radius: 6px;*/
	/*box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);*/
	will-change: opacity;
}
.project-box:not(:last-child) {
	border-bottom: 2px solid #EEE;
}
@media (max-width: 767px) {
	.project-box {
		padding: 4px;
		max-width: 100%;
		border-bottom: 2px solid #DDD;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.screenshots {
	overflow-y: auto;
	white-space: nowrap;
	width: 100%;
}

/*.screenshots a {
	cursor: pointer;
	user-select: none;
}*/

.screenshots a:not(:last-child) {
	margin-right: 16px;
}

/*.screenshots a img {
	zoom: 20%;
}*/

.screenshots-popup {
	display: flex;
	position: fixed;
	/*box-shadow: 4px 8px 18px 0px rgba(0, 0, 0, 0.5);*/
	/*left: 50%;
	top: 50%;*/
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/*transform: translate(-50%, -50%);
	user-select: none;*/
	flex-direction: column;
	justify-content: center;
	z-index: 10;
}

.screenshots-popup .nav {
	display: flex;
	position: absolute;
	cursor: pointer;
	height: 36px;
	width: 36px;
	margin: 16px;
	align-items: center;
	justify-content: center;
}

/*.screenshots-popup .nav:hover {
	background-color: rgba(255, 255, 255, 0.5);
}*/

.screenshots-popup .nav.prev {
	left: 0;
}

.screenshots-popup .nav.next {
	right: 0;
}

.screenshots-popup .nav.close {
	top: 0;
	right: 0;
	height: 36px;
}
/*
.screenshots-popup-overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5;
}
*/
@media (max-width: 767px) {
	svg[id^="i-"] {
		height: 22px;
		width: 22px;
	}
	.screenshots-popup .nav {
		margin: 0;
	}
}
/*	16.11.2018 firefox не поддерживает указание width= прямо в <svg>, 
	пришлось перенести сюда */
svg[id="kaliningrad"] {
	width: 25vw;
}

svg.gear {
	width: 15vw;
}