<section class="flex column-sm center-sm content-box">
	<div class="my-photo"></div>
	<div class="left-margin">
		<h2>Андрей Юрушев</h2>
		<p>
			<span class="fw-500">Навыки:</span> JavaScript, AngularJS, Node.js, jQuery, HTML, CSS, PHP, Delphi, Apache, MySQL, Git, Brunch.
		</p>
		<p>
			<span class="fw-500">Уровень английского:</span> Intermediate.
		</p>
		<p>Увлекаюсь программированием с 1998 года. Начинал с изучения MS Basic для MS-DOS. Затем был длительный период работы с Borland Delphi 1.0 - 10.0. Сейчас специализируюсь на web-разработке, а также нацелен на mobile-разработку.</p>
		<p>Последний коммерческий проект - <span class="fw-500">MERcloud</span>. Веб-приложение для врачей-стоматологов и стоматологических клиник. Front-end: AngularJS (Angular Material, Custom Directives 50+). Back-end: LAMP Stack. Первоначальная настройка и полное последующее сопровождение VM на базе Microsoft Azure. Развертывание БД MySQL с резервированием. Настройка Apache, SSL (Let's Encrypt). Последующая интеграция с системой Яндекс.Касса.</p>
	</div>
</section>
